.md-search-events-cont {
  width: 350px;
}

.md-search-events-cont .mbsc-textfield-wrapper.mbsc-ios {
  margin-top: 34px;
  margin-bottom: 34px;
}

.md-search-events-cont .mbsc-textfield-wrapper.mbsc-windows {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media (min-width: 1135px) {
  .md-search-events-cont .mbsc-textfield-wrapper.mbsc-ios {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .md-search-events-cont .mbsc-textfield-wrapper.mbsc-windows {
    margin-top: 14px;
    margin-bottom: 14px;
  }
}

.md-search-events-calendar {
  border-left: 1px solid #ccc;
  overflow: hidden;
}

.demo-searching-events-in-sidebar,
.md-search-events-sidebar,
.md-search-events-calendar {
  height: 100%;
}
