.md-full-event {
  width: 100%;
  padding: 10px 0;
}

.md-full-event-img {
  width: 100px;
  border-radius: 6px;
  float: left;
}

.md-full-event-details {
  margin-left: 114px;
}

.md-full-event-title {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 10px;
}

.md-full-event-location {
  display: inline-block;
  line-height: 1.4;
  margin-right: 40px;
}

.md-full-event-time {
  display: inline-block;
  line-height: 1.4;
}

.md-full-event-label {
  font-size: 12px;
  font-weight: 600;
  color: #aaa;
}
