.mds-custom-day-header .mbsc-event-day.mbsc-windows {
  padding: 8px 24px;
}

.mds-custom-day-header-btn.mbsc-button {
  height: 24px;
  line-height: 24px;
  margin: 0;
  padding: 0 10px;
}

.mds-custom-day-header-btn .mbsc-button-txt {
  font-size: 12px;
}

.mds-custom-day-header-btn .mbsc-button-icon {
  width: 16px;
  height: 16px;
  line-height: 16px;
  font-size: 14px;
}
