/* Header */

.md-resource-details .mbsc-timeline-resource-col {
  width: 280px;
}

.md-resource-details .mbsc-timeline-resource-header,
.md-resource-details .mbsc-timeline-resource-title,
.md-resource-details .mbsc-timeline-resource-footer,
.md-resource-details .mbsc-timeline-sidebar-header {
  padding: 0;
}

.md-resource-details .mbsc-timeline-resource-title {
  height: 100%;
}

.md-resource-details-cont {
  line-height: 50px;
  height: 100%;
}

.md-resource-header {
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
}

.md-resource-details-name {
  width: 120px;
}

.md-resource-details-seats,
.md-resource-details-price {
  width: 78px;
}

.md-resource-details-seats {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.md-resource-details-title {
  font-weight: 600;
  line-height: 26px;
}

.md-resource-details-sidebar-header {
  line-height: 26px;
  padding: 0 5px;
}

.md-resource-details .mbsc-timeline-day {
  width: 144px;
}

.md-resource-details-sidebar {
  line-height: 36px;
  text-align: center;
}

/* Footer */

.md-resource-details-occuppancy {
  font-size: 15px;
  text-align: right;
  background: #f8f8f8;
  padding-right: 15px;
}

.md-resource-details-footer {
  line-height: 50px;
}

.md-resource-details-total {
  font-size: 18px;
  text-align: center;
  line-height: 36px;
}

.md-resource-details-footer-day {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  background: #f8f8f8;
  padding: 0 5px;
}

.md-resource-details .mbsc-timeline-sidebar-footer {
  background: #feefee;
  border-top-color: #5a0101;
  color: #5a0101;
}

.md-resource-details .mbsc-timeline-sidebar-col {
  width: 85px;
}

@supports (overflow: clip) {
  .md-resource-details.mbsc-ltr .mbsc-schedule-event-inner {
    left: 280px;
  }
  .md-resource-details.mbsc-rtl .mbsc-schedule-event-inner {
    right: 280px;
  }
}
